<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
<parameter name="url" value="https://acme-test.uipath.com/account/login"  />
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.test.testcase.VendorSearch"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
